include ../components/sliderm3/sliderm3
include ../components/tick/tick
include ../chooseColor/chooseColor

- var page= 'Sliderm3 constructor'

html
    head
        meta(charset='UTF-8')
        title= page
        link(href="img/favicon.ico" rel="icon" type="image/x-icon")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet")
        link(rel="stylesheet" href="style.css")
        
    body
        .sliderm3page
            .sliderm3page__header= page
            .sliderm3page__content
                .sliderm3page__slider.sliderm3page__slider_1st
                    //- sliderm3(min, max, value1, value2, step, intervals, hint, scale, interval, vertical,  
                    //-     verticalSize, lineHeight, pointSize, colorLine, colorPoint, colorScale, colorText) rgb(250, 235, 215, 0.5)
                    +sliderm3(20, 120, 20, 70, 5, 4, 'true', 'true', 'true', '', 420, 25, 50, "rgba(230, 230, 230, 1)", "rgba(231, 87, 53, 1)", "rgba(231, 87, 53, 1)", "rgba(231, 87, 53, 1)", "rgba(255, 255, 255, 0.7843137254901961)")
                .sliderm3page__inputs
                    .sliderm3page__inputs-item
                        .sliderm3page__label ScaleMin
                        input.sliderm3page__input.sliderm-min
                    .sliderm3page__inputs-item
                        .sliderm3page__label ScaleMax
                        input.sliderm3page__input.sliderm-max
                    .sliderm3page__inputs-item
                        .sliderm3page__label Value1
                        input.sliderm3page__input.sliderm-value1
                    .sliderm3page__inputs-item
                        .sliderm3page__label Value2
                        input.sliderm3page__input.sliderm-value2
                    .sliderm3page__inputs-item
                        .sliderm3page__label Step
                        input.sliderm3page__input.sliderm-step
                    .sliderm3page__inputs-item
                        .sliderm3page__label Scale Intervals
                        input.sliderm3page__input.sliderm-intervals
                    .sliderm3page__inputs-item
                        .sliderm3page__label.sliderm3page__label_shot Hint
                        +tick('tick-hint')
                        .sliderm3page__label.sliderm3page__label_shot Interval
                        +tick('tick-interval')
                    .sliderm3page__inputs-item
                        .sliderm3page__label.sliderm3page__label_shot Scale
                        +tick('tick-scale')
                        .sliderm3page__label.sliderm3page__label_shot Vertical
                        +tick('tick-vertical')
                    .sliderm3page__inputs-item
                        .sliderm3page__label Length
                        input.sliderm3page__input.sliderm-length
                +chooseColor(231, 87, 53, 255, 231, 87, 53, 255)
                textarea(rows="5").sliderm3page__result
            hr
            .sliderm3page__content
                .sliderm3page__slider.sliderm3page__slider_2nd
                    //- sliderm3(min, max, value1, value2, step, intervals, hint, scale, interval, vertical,  
                    //-     verticalSize, lineHeight, pointSize, colorLine, colorPoint, colorScale, colorText)
                    +sliderm3(0, 1, 0, 0, 1, 1, '', 'true', '', '', 250, 100, 80, "rgba(230, 230, 230, 1)", "rgba(230, 230, 230, 1)", "rgba(200, 100, 200, 1)", "rgba(200, 100, 200, 1)", "rgba(255, 255, 255, 0.7843137254901961)")
                .sliderm3page__inputs
                    .sliderm3page__inputs-item
                        .sliderm3page__label ScaleMin
                        input.sliderm3page__input.sliderm-min
                    .sliderm3page__inputs-item
                        .sliderm3page__label ScaleMax
                        input.sliderm3page__input.sliderm-max
                    .sliderm3page__inputs-item
                        .sliderm3page__label Value1
                        input.sliderm3page__input.sliderm-value1
                    .sliderm3page__inputs-item
                        .sliderm3page__label Value2
                        input.sliderm3page__input.sliderm-value2
                    .sliderm3page__inputs-item
                        .sliderm3page__label Step
                        input.sliderm3page__input.sliderm-step
                    .sliderm3page__inputs-item
                        .sliderm3page__label Scale Intervals
                        input.sliderm3page__input.sliderm-intervals
                    .sliderm3page__inputs-item
                        .sliderm3page__label.sliderm3page__label_shot Hint
                        +tick('tick-hint')
                        .sliderm3page__label.sliderm3page__label_shot Interval
                        +tick('tick-interval')
                    .sliderm3page__inputs-item
                        .sliderm3page__label.sliderm3page__label_shot Scale
                        +tick('tick-scale')
                        .sliderm3page__label.sliderm3page__label_shot Vertical
                        +tick('tick-vertical')
                    .sliderm3page__inputs-item
                        .sliderm3page__label Length
                        input.sliderm3page__input.sliderm-length
                +chooseColor(230, 230, 230, 255, 200, 100, 200, 255)
                textarea(rows="5").sliderm3page__result

        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")