
include ../sliderm3/sliderm3

mixin sliders(sliders)
    .sliders
        .sliders__content
            each slider in sliders
                +sliderm3(slider.min, slider.max, slider.startRange, slider.endRange, slider.step, slider.intervals, slider.hint, slider.scale, slider.interval, slider.vertical, slider.length, slider.lineHeight, slider.pointSize, slider.colorLine, slider.colorRange, slider.colorPoint, slider.colorScale, slider.colorText)