
include ../sliderm3/sliderm3

mixin sliders(sliders)
    .sliders
        .sliders__content
            each s in sliders
                +sliderm3(s.min, s.max, s.startRange, s.endRange, s.step, s.intervals, s.hint, s.scale, s.interval, s.vertical, s.length, s.lineHeight, s.pointSize, s.colorLine, s.colorRange, s.colorPoint, s.colorScale, s.colorText)