$color-green: #4eb7a8;
$color-grey: #747474;
$color-red: #e75735;
$color-lightgray: #e5e5e5;

.form-toggle {
    .lcs_switch {
        box-shadow: 0 0 0px !important;
        width: 60px !important;
        height: 24px;
    }
    .lcs_label {
        font-family: 'Conv_Lato' !important;
        font-weight: normal !important;
        font-size: 12px !important;
    }
    .lcs_cursor {
        width: 18px;
        height: 18px;
    }
    .lcs_switch.lcs_on .lcs_cursor {
        left: 40px !important;
    }
    .lcs_switch.lcs_off .lcs_label_off {
        right: 5px !important;
    }
    .lcs_switch.lcs_on .lcs_label_on {
        left: 7px !important;
    }
    .lcs_on {
        background-color: $color-green !important;
    }
    .lcs_off {
        background-color: $color-lightgray !important;
    }
}
