
include ./sliders/sliders

- var dataJson = require('./data.json');
- var page= 'Sliderm3'

html
    head
        meta(charset='UTF-8')
        title= page
        link(href="favicon.ico" rel="icon" type="image/x-icon")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet")
        link(rel="stylesheet" href="style.css")
        
    body
        .sliderm3page
            .sliderm3page__header= page 
                a(href="/constructor.html" style="font-size: 20px;text-decoration: none;color: inherit;")     (to constructor)
        +sliders(dataJson.sliders)

    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    script(src="main.js")
    script(src="sliderm3.js")