include ../sliderm3/sliderm3
include ../tick/tick
include ../chooseColor/chooseColor

- var dataJson = require('../data.json');
- var page= 'Sliderm3 constructor'

html
    head
        meta(charset='UTF-8')
        title= page
        link(href="favicon.ico" rel="icon" type="image/x-icon")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet")
        link(href="main.css" rel="stylesheet")
        link(href="sliderm3.css" rel="stylesheet")
        
    body
        .page
            .page__header= page
                a(href="index.html" style="font-size: 20px;text-decoration: none;color: inherit;")     (to demo)
            .page__content
                .page__slider.page__slider_1st
                    //- sliderm3(min, max, value1, value2, step, intervals, hint, scale, interval, vertical,  
                    //-     verticalSize, lineHeight, pointSize, colorLine, colorPoint, colorScale, colorText) rgb(250, 235, 215, 0.5)
                    +sliderm3(20, 120, 20, 70, 5, 4, 'true', 'true', 'true', '', 420, 25, 50, "rgba(230, 230, 230, 1)", "rgba(231, 87, 53, 1)", "rgba(231, 87, 53, 1)", "rgba(231, 87, 53, 1)", "rgba(255, 255, 255, 0.7843137254901961)")
                .page__inputs
                    .page__inputs-item
                        .page__label ScaleMin
                        input.page__input.sliderm-min
                    .page__inputs-item
                        .page__label ScaleMax
                        input.page__input.sliderm-max
                    .page__inputs-item
                        .page__label StartRange
                        input.page__input.sliderm-start-range
                    .page__inputs-item
                        .page__label EndRange
                        input.page__input.sliderm-end-range
                    .page__inputs-item
                        .page__label Step
                        input.page__input.sliderm-step
                    .page__inputs-item
                        .page__label Scale Intervals
                        input.page__input.sliderm-intervals
                    .page__inputs-item
                        .page__label.page__label_shot Hint
                        +tick('tick-hint')
                        .page__label.page__label_shot Interval
                        +tick('tick-interval')
                    .page__inputs-item
                        .page__label.page__label_shot Scale
                        +tick('tick-scale')
                        .page__label.page__label_shot Vertical
                        +tick('tick-vertical')
                    .page__inputs-item
                        .page__label Length
                        input.page__input.sliderm-length
                    .page__inputs-item
                        .page__label lineHeight
                        input.page__input.sliderm-line-height
                    .page__inputs-item
                        .page__label pointSize
                        input.page__input.sliderm-point-size
                +chooseColor(231, 87, 53, 255, 231, 87, 53, 255)
                textarea(rows="5").page__result
            hr
            .page__content
                .page__slider.page__slider_2nd
                    //- sliderm3(min, max, value1, value2, step, intervals, hint, scale, interval, vertical,  
                    //-     verticalSize, lineHeight, pointSize, colorLine, colorPoint, colorScale, colorText)
                    +sliderm3(0, 1, 0, 0, 1, 1, '', 'true', '', '', 250, 100, 80, "rgba(230, 230, 230, 1)", "rgba(230, 230, 230, 1)", "rgba(200, 100, 200, 1)", "rgba(200, 100, 200, 1)", "rgba(255, 255, 255, 0.7843137254901961)")
                .page__inputs
                    .page__inputs-item
                        .page__label ScaleMin
                        input.page__input.sliderm-min
                    .page__inputs-item
                        .page__label ScaleMax
                        input.page__input.sliderm-max
                    .page__inputs-item
                        .page__label StartRange
                        input.page__input.sliderm-start-range
                    .page__inputs-item
                        .page__label EndRange
                        input.page__input.sliderm-end-range
                    .page__inputs-item
                        .page__label Step
                        input.page__input.sliderm-step
                    .page__inputs-item
                        .page__label Scale Intervals
                        input.page__input.sliderm-intervals
                    .page__inputs-item
                        .page__label.page__label_shot Hint
                        +tick('tick-hint')
                        .page__label.page__label_shot Interval
                        +tick('tick-interval')
                    .page__inputs-item
                        .page__label.page__label_shot Scale
                        +tick('tick-scale')
                        .page__label.page__label_shot Vertical
                        +tick('tick-vertical')
                    .page__inputs-item
                        .page__label Length
                        input.page__input.sliderm-length
                    .page__inputs-item
                        .page__label LineHeight
                        input.page__input.sliderm-line-height
                    .page__inputs-item
                        .page__label PointSize
                        input.page__input.sliderm-point-size
                +chooseColor(230, 230, 230, 255, 200, 100, 200, 255)
                textarea(rows="5").page__result

        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")